* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  height: 10pc;
  width: 10pc;
  background-color: hsl(200, 70%, 30%);
  color: aliceblue;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

/* learn transforms */


  /* rotate
    transform: rotate(.13turn); */

  /* scale
    transform: scale(2); */

  /* translate
    transform: translateY(-25px , 20px); */
  /* 
        position: relative;
    }
    div::after{
        content: 'After';
        background-color: red;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%);

    } */

  /* skew
        transform: skew(5deg, 10deg); */
}
